@model IgiLab.Models.ViewModels.Admin.CommentAggregationModel
@using IgiLab.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}
<div class="col-10">
    <h2 class="text-center">@Localizer["Comments"]</h2>
    <div class="container">
        <form asp-action="Comments" asp-controller="Admin" asp-antiforgery="true" class="form-signin" method="get">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="CommentSearchModel.MessageFilter">@Localizer["TypeMessage"]</label>
                        <input class="form-control" asp-for="CommentSearchModel.MessageFilter" value="@Model.CommentSearchModel.MessageFilter" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="CommentSearchModel.CommenterUsername">@Localizer["TypeUsername"]</label>
                        <input class="form-control" asp-for="CommentSearchModel.CommenterUsername" value="@Model.CommentSearchModel.CommenterUsername" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="CommentSearchModel.Date">@Localizer["TypeDate"]</label>
                        <input type="datetime-local" class="form-control" asp-for="CommentSearchModel.Date" value="@Model.CommentSearchModel.Date.ToString("dd MMMM yyyy")" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group text-center mt-4">
                        <input type="submit" value="Find!" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    @if (!Model.Comments.Any())
    {
    <h2 class="text-center">@Localizer["NoComments"]</h2>
    }
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Localizer["Post"]</th>
                <th scope="col">@Localizer["Message"]</th>
                <th scope="col">@Localizer["Date"]</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model.Comments)
            {
                <!-- TODO: CHANGE COMMENTS ON COMMENTS VIEW MODEL FOR USERNAME DISPLAY-->
                <tr>
                    <td><a href="@Url.Action("Post", "Post", new { id = comment.PostId })" style="text-decoration: none" class=" text-dark">@Localizer["PostLink"]</a></td>
                    <td>@comment.Message.Truncate(20)</td>
                    <td>@comment.Date.ToString("dd MMMM yyyy")</td>
                    <td><a href="@Url.Action("DeleteComment", "Admin", new { id = comment.Id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this comment?')">@Localizer["Delete"]</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>